* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h1, h3 {
  color: #333;
  text-align: center;
}

p {
  color: #666;
  padding: 0 10px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

form label {
  display: block;
  font-weight: bold;
  margin-top: 20px;
}

form input[type="number"], form select, form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="submit"] {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #0056b3;
}

ul {
  padding: 0 10px;
}

ul li {
  margin: 10px 0;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}

h3 {
  margin: 20px 0;
}

ol {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

ol li {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
}

ol li textarea {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:not(:last-child) {
  margin-right: 10px;
}
