<html>
 <h1>GPT Split</h1>
 <p>Split your input based on the number of tokens to input large amounts of text into ChatGPT and GPT APIs.</p>
 <form method="post">
  <label for="model">Model:</label>
  <select id="model" name="model">
    {% for model in models %}
    <option
        value="{{ model }}"
        {% if model == "gpt-4" %}selected{% endif %}
    >
        {{ model }}
    </option>
    {% endfor %}
  </select>
  <br>

  <label for="tokenlimit">Number of tokens to split on:</label>
  <input type="number" id="tokenlimit" name="tokenlimit" value="8192"><br>

  <label for="text">Text to split on token size:</label><br>
  <textarea id="text" name="text" rows="20" cols="100" required></textarea><br>

  <input type="submit" value="Submit">
</form>

OpenAI token limits
<ul>
    <li>GPT-4: 8,192 tokens</li>
    <li>GPT-3.5 Turbo: 4,096 tokens</li>
</ul>
Source: <a href="https://platform.openai.com/docs/models">OpenAI documentation</a>

</html>